venv
media
media/*
assets
assets/*
staticfiles
staticfiles/*
db.sqlite3
db.json
Frontend
Frontend/*
entertainment/tokens.json
learning_tracker/client_secret.json

*/migrations
*/migrations/*
*/__pycache__
*/pycache__/*

.env
